doctype html
html
   head
      title hello zfff
      style.
         body {background-color: orange}
      script.
         var name = 'zfpx';
   body
      h1(id='myTitle',class='titleStyle1',type='welcome') zfpx
      a(href='www.zfpx.com',custome='custome') 官网

      input(name='zfpx' type='text',value='zfpx')
      input(name='type',type='checkbox' checked)
      //-p
         |1. a 
         span I am a span
         |2. b
         |3. c 

      // I am a comment   
      //- I am a invisible comment
