extends layout
block content
  #mainDiv.container
    include include/head
    include include/menu
    include include/msg
    include include/reg
    include include/throw
    include include/pick
    include include/mybottle
    include include/viewbottle