<%- include ../include/header%>
    <form  method="post" action="/users/reg">
        <input type="text" name="username"/>
        <input type="password" name="password"/>
        <input type="password" name="re-password"/>
        <input type="submit" value="注册">
    </form>
<%- include ../include/footer%>
