<!DOCTYPE html>
<html ng-app="myModule">
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <script src="./angular.js"></script>
</head>
<body>
<div ng-controller="myCtrl">
    <button ng-click="add()">click</button>
    {{num}}
    <div ng-controller="my2Ctrl">
        <button ng-click="add()">click</button>
        {{num}}
    </div>
</div>


</body>
<script>
    var myModule = angular.module('myModule',[]);
    myModule.controller('myCtrl',function($rootScope,$scope){
        $scope.num =1;
        $rootScope.num =100;
        $scope.add= function(){
            $rootScope.num = $rootScope.num+1;
        }
    });

    myModule.controller('my2Ctrl',function($rootScope,$scope){
        $scope.add= function(){
            $rootScope.num = $rootScope.num+2;
        }
    });
</script>
</html>