<!DOCTYPE html>
<html ng-app="myModule">
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <script src="./angular.js"></script>
</head>
<body>
 <div ng-controller="MyCtrl">
    <label>增加</label>
     <input type="text" ng-model="bookname" placeholder="请输入书名">
     ${{books}}
     <ul ng-repeat="book in books">
         {{book.name}}
     </ul>
 </div>
</body>
<script>
    var myModule = angular.module('myModule',[]);
    myModule.factory('bookService',function($http){
        return {
            addBook:function(bookname){
                return $http({
                    method:'GET',
                    url:'data.json'
                });
            }
        }
    });

    /**
     * 1.单例
     * 2.依赖注入
     * 3.可以共享数据
     * 4.
     */
    myModule.controller('MyCtrl',function($rootScope,$scope,$http,$timeout,bookService){
        bookService.addBook('').success(function(data){
            $scope.books = data;
        });

        var timeout;
        $scope.$watch('bookname',function(newBookName){
            if(newBookName){
                if(timeout)
                    $timeout.cancel(timeout);
                timeout = $timeout(function(){
                    bookService.addBook(newBookName).success(function(data){

                        $scope.books.push(newBookName);
                    });
                },400);
            }
        });
    })

</script>
</html>